@yellow: #f0ff19;

@red: #f7312a;

@green: #50f72a;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @yellow;
	color: black;
	.margenes(50px,0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: @green;
	.margenes(10px,0px);
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;

}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-pane{
	padding-top: 10px;
}

.card-texto{
	padding-bottom: 25px;
}